Trilha Java Basico/java-tipos-variaveis/.vscode/settings.json
Trilha Java Basico/java-operadores/.vscode/settings.json
Trilha Java Basico/java-metodos/.vscode/settings.json
Trilha Java Basico/java-escopo/.vscode/settings.json
Trilha Java Basico/java-palavras-reservadas/.vscode/settings.json
Trilha Java Basico/java-doc/.vscode/settings.json
Trilha Java Basico/java-terminal-argumentos/.vscode/settings.json
Trilha Java Basico/java-terminais-argumentos/.vscode/settings.json
